contourpy==1.2.0
cycler==0.12.1
fonttools==4.50.0
kiwisolver==1.4.5
markdown-it-py==3.0.0
matplotlib==3.8.3
mdurl==0.1.2
numpy==1.26.4
packaging==24.0
pillow==10.2.0
pygame==2.5.2
Pygments==2.17.2
pyparsing==3.1.2
python-dateutil==2.9.0.post0
rich==13.7.1
six==1.16.0
